html {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    --icon-image-height: 22px;
    --main-background-color: rgb(41, 156, 237);
    --base-color: white;
}


body {
    display: grid;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    grid-template-rows: repeat(4, minmax(20%, 1fr));
    grid-template-columns: repeat(4, minmax(20%, 1fr));
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

button {
    background-color: var(--main-background-color);
    color: var(--base-color);
    border-width: 0px;
    width: 80px;
    height: 30px;
    border-radius: 15px;
}

button:hover {
    opacity: 0.8;
}

input {
    width: 550px;
    background-color: rgba(214, 223, 232, 0.909);
    height: 25px;
    border-radius: 12.5px;
    border-width: 0px;
}

img {
    height: var(--icon-image-height);
}
#dashboard-widgets-container {
    gap: 20px;
    display: flex;
    padding-left: 5px;
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 1;
    flex-direction: column;
    background-color: rgb(41, 156, 237);
    color: var(--base-color);
}

#search-profile-container{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 40px;

}

#projects-container{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;
}

#dashboard-item-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding-left: 8px;

}

.dashboard-group {
    padding-left: 16px;
}

#dashboard-item-header > img{
    height: 40px;    
}

#dashboard-item-header > p{
    font-size: var(--icon-image-height);    
}

.dashboard-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    gap: 16px;
}

.dashboard-item > button {
    font-size: 16px;
    font-weight: 600;
    text-align: left;
}

#top-search-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 20px;
    margin-bottom: 10px;;
}

#top-search-container > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    gap: 20px;
    font-size: 16px;
    font-weight: bold;
}

.profile-image {
    background-color: rgb(243, 193, 66);
    width: 50px;
    height: 50px;
    border-radius: 50px;
    font-size: 150%;

}

#profile-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
}

#profile-container-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

#profile-container-header h5{
    margin: 0px;
}

#profile-container-header p{
    margin: 0px;
    padding-top: 5px;
    font-size: 20px;
    font-weight: 600;
}

#profile-button-container {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

#projects-container {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    background-color: rgba(214, 223, 232, 0.909);
}

/* Remove Border style of grid from below */
#projects-container > #projects {
    grid-row-start: 1;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-left: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
}

#projects-container > #announcements {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 3;
    margin-right: 16px;
    margin-top: 16px;

}

#projects-container > #trending {
    grid-row-start: 4;
    grid-row-end: 7;
    grid-column-start: 3;
    grid-column-end: 3;
    border-style: solid;
    margin-right: 16px;
    margin-top: 16px;
    margin-bottom: 16px;

}

#projects > p {
    padding-left: 18px;
    font-weight: 600;
}
#project-card-container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin: 16px;
}


.project-card {
    border-left-style: solid;
    border-left-width: 8px;
    border-radius: 8px;
    border-left-color: rgb(243, 193, 66);
    background-color: white;
    padding-top: 30px;
    padding-left: 10px;
    min-height: 150px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 1px 1px 3px 1px rgb(0, 0, 0, 0.2);
    transition: transform 0.4s ease box-shadow 0.3s ease;
}

.project-card:hover {
    transform: scale(1.03);
    box-shadow: 1px 3px 3px 3px rgb(0, 0, 0, 0.2);
    z-index: 1;

}

.project-card-title {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

.project-card-info {
    font-size: 13px;
    color: gray;
    margin: 0px;
    max-width: 250px;
}
.project-card-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 10px;
    padding-bottom: 10px;
    gap: 16px;
}

#announcements > p {
    padding-left: 1px;
    font-weight: 600;
    display: flex;
    flex-direction: column;

}

#trending > p {
    padding-left: 1px;
    font-weight: 600;
}

#announcements-container {
    background-color: var(--base-color);
    border-radius: 8px;
    box-shadow: 1px 1px 3px 1px rgb(0, 0, 0, 0.2);
}

#announcements-container  > hr{
    width: 300px;
    margin: 0px auto;
}

#announcements-container > div {
    padding-top: 10px;
    padding-left: 25px;
    height: 70px;
}

.announcement-title {
    margin-bottom: 1px;
    font-size: 12px;
    font-weight: 600;
}

.announcement-content {
    margin: 0px;
    font-size: 10px;
    width: 180px;
}