html {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    --icon-image-height: 22px;
    --main-background-color: rgb(41, 156, 237);
    --base-color: white;
}

body {
    display: grid;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    grid-template-rows: repeat(4, minmax(20%, 1fr));
    grid-template-columns: repeat(4, minmax(20%, 1fr));
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

button {
    background-color: var(--main-background-color);
    color: var(--base-color);
    border-width: 0px;
    width: 80px;
    height: 30px;
    border-radius: 15px;
}

button:hover {
    opacity: 0.8;
}

input {
    width: 550px;
    background-color: rgba(214, 223, 232, 0.909);
    height: 25px;
    border-radius: 12.5px;
    border-width: 0px;
}

img {
    height: var(--icon-image-height);
}
#dashboard-widgets-container {
    gap: 20px;
    display: flex;
    padding-left: 5px;
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 1;
    flex-direction: column;
    background-color: rgb(41, 156, 237);
    color: var(--base-color);
}

#search-profile-container{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;

}

#projects-container{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;
}

#dashboard-item-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding-left: 8px;

}

.dashboard-group {
    padding-left: 16px;
}

#dashboard-item-header > img{
    height: 40px;    
}

#dashboard-item-header > p{
    font-size: var(--icon-image-height);    
}

.dashboard-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    gap: 16px;
}

.dashboard-item > button {
    font-size: 16px;
    font-weight: 600;
    text-align: left;
}

#top-search-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 20px;
    margin-bottom: 10px;;
}

#top-search-container > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    gap: 20px;
    font-size: 16px;
    font-weight: bold;
}

.profile-image {
    background-color: rgb(243, 193, 66);
    width: 50px;
    height: 50px;
    border-radius: 50px;
    font-size: 150%;

}

#profile-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
}

#profile-container-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

#profile-container-header h5{
    margin: 0px;
}

#profile-container-header p{
    margin: 0px;
    padding-top: 5px;
    font-size: 20px;
    font-weight: 600;
}

#profile-button-container {
    display: flex;
    flex-direction: row;
    gap: 24px;
}